* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
 }

.categorias {
    text-decoration: none;
    color:rgb(158, 154, 154);
    margin: 3px;
}

.categorias:hover {
    color: rgb(230, 230, 230);
}

.carrito {
    width: 30px;
    height: 30px;
}

.navbar {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}