* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
 }

.categorias {
    text-decoration: none;
    color:rgb(158, 154, 154);
    margin: 3px;
}

.categorias:hover {
    color: rgb(230, 230, 230);
}

.carrito {
    width: 30px;
    height: 30px;
    color: red;
}

.navbar {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

.imgCart {
    width: 15rem;
    height: 15rem;
}

.itemsCart {
    display: flex;
}

.textCart {
    text-align: center;
    margin: 100px;
}

.botonEliminar {
    text-align: center;
}

.container {
    display: flex; /* or inline-flex */
}

.item {
    order: 5; /* default is 0 */
}

.espacio {
    word-spacing: pre-line;
}

.text {
    text-align: center;
    margin: 5px;
    padding: 5px;
}

.colorText {
    color:blanchedalmond;
    text-align: center;
    align-content: center;
    margin-top: 0;
    margin-bottom: 0;
}

.itemsLista {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
}

.text1 {
    text-align: center;
    margin-left: 10px;
}

.ordenCompra {
    text-align: center;
    margin: 5px;
    padding: 5px;
}

.spinner {
    margin: 5px;
    padding: 5px;
}
